/* Global Settings */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  --aside-background: #0a090d;
  --pink-color: #df124b;
  --header-background: #15171a;
  --white-color: #fff;
  --black-color: #000;
}

i {
  font-size: 1.3rem;
}

/* Main */

main {
  display: flex;
}

/* Aside Styling */

aside {
  width: 10%;
  height: 100vh;
  background-color: var(--aside-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1.4rem 0;
}

aside .logo {
  width: 40%;
}

aside .logo img {
  width: 100%;
}

aside .share-btn i {
  color: var(--white-color);
  font-size: 1.4rem;
}

aside .pages-link ul li {
  padding: 0.7rem 0;
  writing-mode: vertical-rl;
}

aside .pages-link ul a {
  position: relative;
  color: var(--white-color);
  font-size: 0.9rem;
  display: block;
  text-align: center;
}

aside .pages-link ul a:hover {
  color: var(--pink-color);
}

aside .pages-link ul a::before {
  content: "";
  position: absolute;
  height: 7px;
  top: 43%;
  left: -8px;
  width: 7px;
  background-color: var(--pink-color);
  border-radius: 50%;
  display: none;
  transition: 0.4s;
}

aside .pages-link ul a:hover::before {
  display: block;
}

aside .pages-link ul .active {
  color: var(--pink-color) !important;
}

aside .pages-link ul .active::before {
  display: block;
}

aside .hamburger {
  display: none;
}

/* header styling */

header {
  width: 100%;
  background-color: var(--header-background);
}

header .home-page {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

header .home-page .left-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5rem;
  background-color: var(--header-background);
}

header .home-page .right-image img {
  width: 150%;
}

header .home-page .social-btns {
  display: flex;
  align-items: center;
}

.social-btns .follow-text {
  color: var(--white-color);
  font-size: 1.1rem;
}

header .social-btns span {
  margin: 0 25px;
  height: 1px;
  width: 4%;
  background-color: var(--white-color);
}

header .social-btns .icons i {
  display: inline-block;
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s;
}

header .social-btns .icons i:hover {
  color: #beb9b9;
  transform: translateY(-3px);
}

header .contact-ways {
  display: flex;
  align-items: center;
}

header .contact-ways .Whatsapp {
  margin: 0 1rem;
}

header .contact-ways .messager,
header .contact-ways .Whatsapp,
header .contact-ways .Email {
  display: flex;
  align-items: center;
  color: var(--white-color);
  font-size: 0.9rem;
}

header .contact-ways .social-icon i {
  color: var(--pink-color);
  padding-right: 8px;
  font-size: 2rem;
}

header .contact-ways .social-icons {
  color: var(--pink-color);
}

header .personal-information {
  color: var(--white-color);
}

header .personal-information p {
  margin: 1rem 0;
  width: 50%;
}

header .personal-information a {
  color: var(--white-color);
  background-color: var(--pink-color);
  padding: 5px 15px;
  margin-top: 0.8rem;
}

header .personal-information a i {
  font-size: 1rem;
}

header .personal-information h1 span {
  color: var(--pink-color);
}

/* Media Queries */

/* @media only screen and (max-width: 700px) {
  main {
    position: relative;
    width: 100%;
  }

  /* Aside Media Queries */

/* aside {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  aside .pages-link {
     width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  aside .hamburger {
    display: block;
    color: var(--white-color);
  }

  aside .hamburger .close {
    display: none;
  }

  aside .logo,
  aside .share-btn {
    display: none;
  }

  aside .pages-link li a {
    writing-mode: horizontal-tb;
  }
} */
